<div class="home-sheet">
<div class="body-container">
    <video autoplay="autoplay" playsinline="" loop="loop" muted="muted" class="video-background img-fluid">
        <source src="/mp4/home.mp4" type="video/mp4">
    </video>
</div>
<div class="introduction">
    <div class="intro-tex">HERO BOOK - THE GAMEFI MAGNATE IN THE GLOBAL MARKET</div>
    <div class="intro-container ">
        <div style="margin-bottom: 36px;" class="row">
            <div class="col">
                <div class="intro-span-tex">
                    <span>Broad vision in the NFT App Game Market Mission to create a Metaverse in the 3rd millennium of
                        the 21st century Hero Book was born and straight to the leading position in the Blockchain Game
                        and Traditional Game market</span>
                </div>
                <div class="intro-highlight-tex">
                    <span>ACQUISITION THE GAME MARKET WITH THE DIVERSE GAMEPLAY</span>
                </div>
                <div class="row">
                    <div class="col intro-list-bg">
                        <span>
                            HEROBOOK BATTLE ROYALE
                    </div>
                    </span>
                    <div class="col intro-list-bg">
                        <span>
                            HEROLAND METAVERSE
                    </div>
                    </span>
                    <div class="col intro-list-bg">
                        <span>
                            HEROCARD CARD GAME
                    </div>
                    </span>
                </div>
            </div>
            <div class="col">
                <div class="intro-video">
                    <iframe width="460" height="315" src="https://www.youtube.com/embed/a5halkyhLfw"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="intro-list-nobg">
                    <li>Hero Book towards to at all types of players all over the world.</li>
                    <li>Join any game of Metaverse Hero Book with only 1 NFT</li>
                    <li>The system connects the Game ecosystem via NFT Hero and the common liquidity currency - HBG
                        Token</li>
                </ul>
            </div>
            <div class="col">
                <img src="/img/home/intro-car.png" class="rounded float-end" alt="car"></img>
            </div>
        </div>
    </div>
</div>
<div class="mr-pi-info">
    <div class="intro-tex">BRING YOU INTO THE CYBERPLANET LAND BECOME TO THE OWNER OF THE LEGENDARY GENEBORG</div>
    <div style="text-align: center;" class="intro-highlight-tex">
        <span>HERO</span>
    </div>
    <div id="carouselExampleControls" class="carousel slide hero-slideinfo" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Adler.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Archer.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Berry.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Blizz.png" alt="hero">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Bunnie.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Claws.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Densis.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Dory.png" alt="hero">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Dumbo.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Foxy.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Geoffrey.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Gory.png" alt="hero">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Leo.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/PanPan.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Sharky.png" alt="hero">
                    </div>
                    <div class="col info-hero-slide">
                        <img class="img-fluid rounded mx-auto d-block" src="/img/home/Sonic.png" alt="hero">
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">


            <div class="carousel-item active">
                <div class="row info-detail-hero">
                    <div class="col info-detail-img">
                        <img class="img-fluid rounded info-detail-image">
                    </div>
                    <div class="col info-detail-infomations">
                        <div class="name-hero-info intro-tex">NO ONE</div>
                        <div class="detail-hero-info">Species: None</div>
                        <div class="detail-hero-info">Gender: None</div>
                        <div class="detail-hero-info">Class: None</div>
                        <div class="detail-hero-info">Occupation: Developer</div>
                        <div class="detail-hero-info">Faction: None</div>
                        <div class="detail-hero-info">Description: No complicated strategy, reckless blood, and
                            extraordinary strength are what the Mr.NOONE has.</div>
                    </div>
                </div>
            </div>

            {{#each herodetail}}

            <div class="carousel-item">
                <div class="row info-detail-hero">
                    <div class="col info-detail-img">
                        <a>
                            <img class="img-fluid info-detail-image" src="{{this.img_link}}" alt="hero">
                        </a>
                    </div>
                    <div class="col info-detail-infomations">
                        <div class="name-hero-info intro-tex">{{this.name}}</div>
                        <div class="detail-hero-info">Species:
                            <span>
                                {{this.species}}
                            </span>
                        </div>
                        <div class="detail-hero-info">Gender:
                            <span>
                                {{this.gender}}
                            </span>
                        </div>
                        <div class="detail-hero-info">Class:
                            <span>
                                {{this.class}}
                            </span>
                        </div>
                        <div class="detail-hero-info">Occupation:
                            <span>
                                {{this.occupation}}
                            </span>
                        </div>
                        <div class="detail-hero-info">Faction:
                            <span>
                                {{this.faction}}
                            </span>
                        </div>
                        <div class="detail-hero-info">Description:
                            <span>
                                {{this.description}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="gameplay-intro">
    <div class="high-light-gameplay intro-tex">GAMEPLAY</div>
    <div class="row gameplay-layout">
        <div style="min-height: 520px;" class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active gameplay-btn" id="nav-home-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                        aria-selected="true">BATTLE ROYALE</button>
                    <button class="nav-link gameplay-btn" id="nav-profile-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                        aria-selected="false">HEROLAND METAVERSE</button>
                    <button class="nav-link gameplay-btn" id="nav-contact-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact"
                        aria-selected="false">CARD GAME</button>
                </div>
            </nav>
            <div class="tab-content gameplay-texlist" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <ul style="list-style-type: square;">
                        <li>The battle game series contains risks to unlock the potential of CyberPlanet hegemony.</li>
                        <li>1 NFT Hero is the ticket to enter CyberPlanet and prepare for the battle of life and death.
                        </li>
                        <li>Pick up weapons and items that are randomly hidden around the planet to equip Geneborgs
                            before engaging in a real battle for life on each battlefield on the planet map</li>
                        <li>Pay attention to the milestones that the BO ring narrows on the map if you don't want to
                            lose blood continuously until you die. That's the only way to survive and put your name into
                            the Hero Book - the book of the champions.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <ul style="list-style-type: square;">
                        <li>Heroland is a 1:1 virtual version of Mars divided into 16,700,000 land plots. However, the
                            player can only own a third of the purchased plots and the remaining plots will be released
                            in later stages through Punitive Expedition Mode.</li>
                        <li>Ownership and exchange of plots in Heroland is completely allowed</li>
                        <li>Use NFT Hero to build and exploit buildings to develop income when owning land</li>
                        <li>The receipt of various types of resources or HBG Tokens is based on the condition of the
                            land and buildings</li>
                        <li>There are 5 main types of resources for the Heroland world: HBG token, Oxygen, Electric,
                            Heronium, Herostone.</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <ul style="list-style-type: square;">
                        <li>A simple card game that does not require too many complicated strategies. Play fast - win
                            fast - highly entertaining is what Hero Card has.</li>
                        <li>Let's start the game with 1 NFT Hero - your trump card. Attack your opponent by drawing
                            auxiliary cards.</li>
                        <li>The secret to always being the winner is to diligently collect for yourself NFT auxiliary
                            cards with different strengths to increase the fighting power of your deck.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <img class="img-fluid" src="https://herobook.io/img/s4.40743c36.png" alt="gameplay">
        </div>
    </div>
</div>
<div class="sheet-5-home">
    <div class="intro-tex">PREMIUM FEATURES</div>
    <div class="row sheet-5-layout">
        <div class="col">
            <div class="sheet-5-img">
                <a>
                    <img class="img-fluid rounded sheet-5-img-1" src="https://herobook.io/img/farm2e.33a841fa.png"
                        alt="hero">
                </a>
            </div>
            <div class="sheet-5-tex">
                <div class="intro-tex">F2E - Farming To Earn</div>
                <p>Get passive income from virtual real estate and Hero - the newest trend of earning money </p>
            </div>
        </div>
        <div class="col">
            <div style="background-image: url('https://herobook.io/img/bg-logic2e.0bf24a92.png')" class="sheet-5-img">
                <a>
                    <img class="img-fluid rounded sheet-5-img-2" src="https://herobook.io/img/logic2e.71f722ed.png"
                        alt="hero">
                </a>
            </div>
            <div class="sheet-5-tex">
                <div class="intro-tex">L2E - Logic To Earn</div>
                <p>Win and get profit from well - investments and well - thought - out strategies </p>
            </div>
        </div>
    </div>
</div>
<div class="sheet-6-home">
    <div class="intro-tex">HBG TOKEN - OPPORTUNITY TO INCREASE YOUR ASSETS</div>
    <p>Hero Book's huge ecosystem needs a factor that links all of them- that's when the HBG Token appearances and
        connects everything.</p>
    <h2 class="intro-highlight-tex">HBG TOKEN HELP YOU:</h2>
    <ul style="list-style-type: none;">
        <li>Buy Genesis Boxes to own your Geneborgs</li>
        <li>Build your own Blockchain Game on the HeroBook system with our support.</li>
    </ul>
    <div class="row">
        <div class="col sheet-6-seclection intro-tex">
            <span>
                <a href="#">
                    CONTRACT
                </a>
            </span>
        </div>
        <div class="col sheet-6-seclection intro-tex">
            <span>
                <a href="#">
                    AUDIT
                </a>
            </span>
        </div>
        <div class="col sheet-6-seclection intro-tex">
            <span>
                <a href="#">
                    LOCK
                </a>
            </span>
        </div>
        <div class="col sheet-6-seclection intro-tex">
            <span>
                <a href="#">
                    BUY TOKEN
                </a>
            </span>
        </div>
    </div>
    <div class="sheet-6-chart-bar">
        <div class="row">
            <div class="col-5 sheet-6-chart">
                <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/279017348_1041849306439645_7217799264616053015_n.png?_nc_cat=101&ccb=1-5&_nc_sid=aee45a&_nc_ohc=XltiuF0XgRMAX804WtM&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLppjNIOQAPWj4WG2ctDlj_ZbaE7P61EPDIqhrpFiLdSw&oe=6285876C"
                    alt="chart">
            </div>
            <div style="color: #fff;" class="col-7 sheet-6-list">
                <div style="color: #fff;" class="intro-highlight-tex sheet-6-high-line">HBG TOKEN IN THE HERO BOOK
                    PROJECT MODEL:</div>
                <ul style="list-style: none;">
                    <li>(1) 3% on Airdrop campaign and marketing promotion - 30,000,000 Tokens</li>
                    <li>(2) 15% Pre-Sale Release - 150,000,000 Tokens</li>
                    <li>(3) 5% under the management of the Advisory Board - 50,000,000 Tokens</li>
                    <li>(4) 15% listed on reserve fund and exchange - 150,000,000 Tokens</li>
                    <li>(5) 25% for P2E - accompanying ecosystem - 250,000,000 Token</li>
                    <li>(6) 15% under the management of the development team and ecosystem administrator - 150,000,000
                        Token
                    </li>
                    <li>(7) 12% for international marketing and expansion - 120,000,000 Token</li>
                    <li>(8) 10% for project development fund - 100,000,000 Token</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sheet-6-chain">
        <img class="img-fluid" src="https://herobook.io/img/ecosystem.00909429.png" alt="img">
    </div>
    <div class="intro-tex">HERO BOOK | ROADMAP</div>
    <div class="sheet-6-line">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278650391_532561455209727_6927114598448118034_n.png?_nc_cat=103&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Tr7WSot3PwoAX8ROG2k&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVKBspk1qSq_THYGsIgjiCNPiOE-CizNw6QYKfUVoVg8Pg&oe=628594D4"
            alt="line" class="img-fluid">
    </div>
    <div class="row">
        <div class="col">
            <div class="sheet-6-img-group">
                <img class="img-fluid" src="https://herobook.io/img/1.ba5afb45.png" alt="aim.jpg">
            </div>
            <div class="intro-highlight-tex">PHASE 1</div>
            <ul style="list-style-type: none;">
                <li>Concept & Idea Development</li>
                <li>Design & prototype Development</li>
                <li>Smart contract Development</li>
                <li>Standardization of document</li>
                <li>Create website and social channel</li>
            </ul>
        </div>
        <div class="col">
            <div class="sheet-6-img-group">
                <img class="img-fluid" src="https://herobook.io/img/2.07cf9c9c.png" alt="aim.jpg">
            </div>
            <div class="intro-highlight-tex">PHASE 2</div>
            <ul style="list-style-type: none;">
                <li>Strategic partnership</li>
                <li>Marketing and Airdrop</li>
                <li>Seed Round</li>
                <li>Private Sales</li>
                <li>Listing on CMC & Coingecko</li>
                <li>Herobook Alpha Test</li>
            </ul>
        </div>
        <div class="col">
            <div class="sheet-6-img-group">
                <img class="img-fluid" src="https://herobook.io/img/3.09d3ba17.png" alt="aim.jpg">
            </div>
            <div class="intro-highlight-tex">PHASE 3</div>
            <ul style="list-style-type: none;">
                <li>Pre Sales</li>
                <li>Public Sales</li>
                <li>Hero NFT Sales</li>
                <li>Pancakeswap listing</li>
                <li>Herobook Close Beta Test</li>
            </ul>
        </div>
        <div class="col">
            <div class="sheet-6-img-group">
                <img class="img-fluid" src="https://herobook.io/img/4.2c11aba6.png" alt="aim.jpg">
            </div>
            <div class="intro-highlight-tex">PHASE 4</div>
            <ul style="list-style-type: none;">
                <li>Land NFT Sales</li>
                <li>Heroland Official Release</li>
                <li>Herobook Open Beta Test</li>
                <li>More DEX/CEX listing</li>
                <li>KOLs/Influencers/Streamers Marketing</li>
            </ul>
        </div>
        <div class="col">
            <div class="sheet-6-img-group">
                <img class="img-fluid" src="https://herobook.io/img/5.658a3d22.png" alt="aim.jpg">
            </div>
            <div class="intro-highlight-tex">PHASE 5</div>
            <ul style="list-style-type: none;">
                <li>Herobook Official Release</li>
                <li>Herocard Official Release</li>
                <li>Connecting available ecosystems</li>
                <li>Hero Tournament (for Herobook and Herocard)</li>
                <li>Lauch Heroland’s phase 2</li>
            </ul>
        </div>
    </div>
</div>
<div class="sheet-7-home">
    <div class="advisor-div">
        <div class="intro-tex">ADVISOR</div>
        <div class="advisor-img">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278740808_4987717291308503_7309876590509463957_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jOqoyRcgHGYAX_kvkxt&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIFAS75EkxswMjhP0IgA0NaFYhg6EXN56waFuajOZP5iQ&oe=628C319D" alt="advisor" class="img-fluid">
        </div>
        <div class="advisor-name">Dinh Tuan Anh</div>
        <div class="advisor-occupation intro-highlight-tex">advisor traditional</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi assumenda unde aliquam, placeat quo
            repudiandae voluptas blanditiis accusamus! Accusamus, id culpa delectus iusto dolorum amet mollitia
            similique, quod eligendi fugiat ducimus nam quos iure. Voluptatum nobis qui reprehenderit, magnam, quia
            numquam placeat molestias impedit fugit dolorum velit nam incidunt.</p>
    </div>
    <div class="dev-div">
        <div class="intro-tex">DEV TEAM</div>
        <div class="advisor-img">
            <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278740808_4987717291308503_7309876590509463957_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=jOqoyRcgHGYAX_kvkxt&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVIFAS75EkxswMjhP0IgA0NaFYhg6EXN56waFuajOZP5iQ&oe=628C319D" alt="dev" class="img-fluid">
        </div>
        <div class="advisor-name">Dinh Tuan Anh</div>
        <div class="advisor-occupation intro-highlight-tex">develop app</div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa sequi assumenda unde aliquam, placeat quo
            repudiandae voluptas blanditiis accusamus! Accusamus, id culpa delectus iusto dolorum amet mollitia
            similique, quod eligendi fugiat ducimus nam quos iure..</p>
    </div>
</div>
</div>